[build]
  command = "npm run build"
  publish = "out"
  environment = { NODE_VERSION = "20" }

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/:splat"
  status = 200

[build.environment]
  NODE_VERSION = "20"
